/* All styles for your Card Components live here */

main {
	height: 70%;
	/*background-color: lightgreen;*/
	border-radius: 5px;
	border: 1px solid lightgrey;
	margin-left: 10%;
	margin-right: 1%;
	background-image: url('https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 130% 75%;
}

#topMain {
	color: ;
	position: relative;
	bottom: -310px;
	left: 10px;
	font-weight: bold;
}

main p {
	color: ;
	position: relative;
	bottom: -270px;
	left: 10px;
	margin-right: 30px;
}

#reactjs {
	bottom: -260px;
	color: grey;
}
